extends layout

block header 
  link(rel='stylesheet', href='/stylesheets/reset.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src="/scripts/utils.js")
  script(src="/scripts/app.js") 

block content
  #qrcode
  #container
    #list
  #dial
    h1 Studio photo 
    h3 Gratuit
    #text
      p Ouvert de 9h à 19h
      br
      p Prio aux participants concours cosplay de --h00 à --h00
      br
      p Fermé de 14h30 à 16h30 (concours cosplay)
      br