extends layout

block header 
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/reset.css')
  script(src="/scripts/utils.js")
  script(src="/scripts/app.js") 

block content
  #qrcode
  #container
    #list
  #dial